.container {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 30px;
}

img {
  width: 400px;
  border-radius: 30px;
}

.back {
  height: 40px;
  background-color: #3e4684;
  color: white;
  cursor: pointer;
  border: none;
  font-weight: bold;
  font-size: large;
  border-radius: 30px;
}
