div.container {
  // background-color: cornflowerblue;
  margin: auto;
  // border-radius: 40px;
}

h1 {
  text-align: center;
}

form {
  background-color: #f1f7fe;
  border-radius: 30px;
  height: 270px;
  justify-content: space-around;
  // border-left: cornflowerblue 5px solid;
  justify-content: center;
}

div.container {
  width: 300px;
  height: 400px;
  padding: 16px;
  margin: calc(50vh - 250px) auto calc(50vh - 240px) auto;
  clear: both;
  // overflow: hidden;
  align-items: center;
  align-content: center;
  // text-align: center;
  justify-content: center;
}

div.container span.label-holder {
  display: table;
  display: block;
  width: 80%;
  height: 40px;
  float: left;
  padding: 18px 18px 0 18px;
  margin-top: 10px;
}

div.container span.input-holder {
  display: block;
  width: 80%;
  height: 20px;
  float: left;
  padding: 0 18px 18px 18px;
}

input {
  width: 100%;
  height: 100%;
  // border-radius: 10px;
  // border-color: beige;
  padding: 3px;
}

label {
  margin-top: 50px;
  font-size: xx-large;
}

span {
  margin: 0;
  padding: 0;
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42a948;
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
}

.alert div {
  background-color: #fed3d3;
  color: #820000;
  padding: 5px;
  // height: 50px;
  width: 100%;
  // border-radius: 20px;
  margin-top: 5px;
  text-align: center;
}

div.container span.input-holder.btn {
  margin-top: 10px;
  text-align: center;
  padding: 0;
  // width: 38px;
  height: 40px;
  width: 300px;
  border-radius: 30px;
  overflow: hidden;
}

button {
  // width: 100%;
  // height: 100%;
  background-color: #3e4684;
  // border-radius: 20px;
  border: none;
  height: 40px;
  width: 300px;
  font-weight: bold;
  font-size: medium;
  color: white;
}

div.spinning-skeleton {
  background-color: rgb(172, 191, 226);
  border: none;
  height: 40px;
  width: 300px;
  font-weight: bold;
  font-size: medium;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

div.spinning-skeleton div.spinner {
  width: 20px;
  height: 20px;
  border: 2px solid #f3f3f3;
  border-top: 3px solid #3e4684;
  border-radius: 100%;
  margin: auto;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
