<div class="container">
  <h1>Authorization</h1>
  <form id="authForm" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <span class="label-holder">
      <label for="email">Email:</label>
    </span>
    <span class="input-holder">
      <input id="email" type="email" formControlName="email" required />
      <div
        *ngIf="email?.invalid && (email?.dirty || email?.touched)"
        class="alert alert-danger"
      >
        <div *ngIf="email?.errors?.['required']">Email is required.</div>
        <div *ngIf="email?.errors?.['email']">Enter normalny email.</div>
      </div>
    </span>
    <span class="label-holder">
      <label for="password">Password:</label>
    </span>
    <span class="input-holder">
      <input
        id="password"
        type="password"
        formControlName="password"
        required
      />
      <div
        *ngIf="password?.invalid && (password?.dirty || password?.touched)"
        class="alert alert-danger"
      >
        <div *ngIf="password?.errors?.['required']">Password is required.</div>
        <div *ngIf="password?.errors?.['minlength']">
          Password must be at least 5 characters long.
        </div>
      </div>
    </span>
  </form>
  <span class="input-holder btn">
    <button
      *ngIf="btnShowUp$ | async; else skeleton"
      type="submit"
      [disabled]="formGroup.invalid"
      form="authForm"
    >
      Log In
    </button>
    <ng-template class="spinning-skeleton" #skeleton>
      <div class="spinning-skeleton">
        <div class="spinner"></div>
      </div>
    </ng-template>
  </span>
  <div><a href="/sign-up">SignUp</a></div>
</div>
