<form [formGroup]="signUpFormGroup" (ngSubmit)="onSubmit()">
  <h1>Sign Up</h1>
  <div class="email">
    <label for="email">Email Address:</label>
    <input id="email" formControlName="email" type="email" required />
    <div
      class="errors"
      *ngIf="(email?.invalid && email?.touched)"
    >
      <div *ngIf="email?.errors?.['email']" class="errors">
        Введите корректный email
      </div>
      <div *ngIf="email?.errors?.['required']" class="errors">
        Поле является обязательным для заполнения
      </div>
    </div>
  </div>
  <div class="password">
    <label for="password">Password:</label>
    <input id="password" formControlName="password" type="password" required />
    <div class="errors" *ngIf="password?.invalid && password?.touched">
      <div *ngIf="password?.errors?.['minlength']" class="errors">
        Минимальная длина пароля 5 символов
      </div>
      <div *ngIf="password?.errors?.['required']" class="errors">
        Поле является обязательным для заполнения
      </div>
    </div>
  </div>
  <div class="button">
    <button
      *ngIf="btnShowUp$ | async; else skeleton"
      class="sign-up"
      type="submit"
      [disabled]="!signUpFormGroup.valid"
    >
      Sign Up
    </button>
    <ng-template #skeleton>
      <div class="spinning-skeleton">
        <div class="spinner"></div>
      </div>
    </ng-template>
  </div>
  <div class="footer">
    <span (click)="toLogin()">&#8592; Back to Login</span>
  </div>
</form>
